/* CSS declarations go here */

.content {
	min-height: 500px;
}
.roomTag {
	display: inline-block;
	padding: 5px;
}

.active {
	font-weight: bolder;
}

.chatWindow {
	height: 300px;
}
.messageBox {
	margin-top: 10px;
}
.messageBox input[type=text] {
	width: 80%;
}
.message,
.logMessage {
	display: block;
}

.pertisipantlist {
}

.framed {
	padding: 0.5em;
	border: 0.2em solid gray;
}

.error {
	border-color: red !important;
	color: red !important;
}